
.popular_items{
    padding: 20px;
    margin-right: 20px;
}

.welcome_part{
    text-align: center;
    color: #9a9fa9;
    font-family: "Segoe UI Black", serif;
    font-size: 60px;
    margin-top: 5rem;
}
.user_name{
    font-family: "Segoe UI Light", serif;
    text-decoration: #0b3251;
}

.category-item {
    background: #0B3251;
    margin: 5px 10px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    height: 110px;
    width: 110px;
    padding: 7px 0px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    border: 1px solid #0B3251;
}
.category-item h6{
    margin: 0px;
    font-family: "Segoe UI Semibold", serif;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: #9a9fa9;
}

.category-item a:hover{
    outline: none !important;
    text-decoration: none;
}
.category-item img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 2px 0 8px 0;
}

.chain_stores_scroll {
    margin-bottom: 70px;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.welcome-animation{
    margin-top: -100px;
    margin-left: 250px;
}
.navbar .navbar-nav .nav-item .nav-link .material-icons,
.navbar .navbar-nav .nav-item .nav-link .fa {
    font-size: 1.1rem;
    margin-top: 3px;
    margin-left: 10px;
    max-width: 8px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.price {
    color: grey;
    font-size: 16px;
    margin-left: 150px;
    margin-bottom: 0px;
}
.scrolling-wrapper {
    display: flex;
    overflow-x: scroll;
    overflow: paged-x-controls;
    white-space: nowrap;
}

.most-popular-title{
    font-family: "Segoe UI Black", serif;
    color: grey;
    font-size: 24px;
    margin-bottom: 30px;
}
.random-title{
    font-family: "Segoe UI Black", serif;
    color: grey;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 70px;
}
.interest-title{
    font-family: "Segoe UI Black", serif;
    color: grey;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 70px;
}
.chain_stores-title{
    font-family: "Segoe UI Black", serif;
    color: grey;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 70px;
}
.card {
    /*float: left;*/
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.card > img {
    margin-bottom: .75rem;
    width: 80%;
}

.card-text {
    font-size: 85%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
strong {
    font-weight: bold;
}
.line {
    background-color: #5e5e5e;
    border-radius: 12px;
    display: inline-table;
    height: 4px;
    margin: 0 0 51px;
    width: 70px;
}

.half-of-section {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: cover;
    background-position: center;
}

.first-half-text-center {
    position: relative;
    padding: 72px 96px 36px 118px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.half-image-section {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: cover;
    background-position: center;
}
.first-part-for-shops{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 80px;
    row-gap: 80px;
    align-items: center;
    justify-items: center;
    place-items: center;
}
.item-detailed-banner {
    position: relative;
    min-height: 308px;
}
.item-detailed-banner .img-fluid.cover {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    top: 0;
    min-width: 100%;
    max-width: 100%;
    width: auto;
    overflow-y: hidden;
}
.item-detailed-banner .img-fluid.cover.closed {
    filter: grayscale(100%);
}
.overflow {
    overflow: hidden;
    max-height: 500px;
    position: relative;
}

.item-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 163, 243, 0.3);
}
.title-single-item{
    font-weight: 700;
    font-size: 6.5vmin;
    line-height: 1;
    max-height: 3.6em;
    word-break: break-word;
    margin-top: -10rem;
}
@media (min-width: 768px) and (max-width: 991.98px){
    .item-nav {
        text-align: center;
    }
}

.item-dedicated-nav {
    border-top: 1px solid rgba(3,16,33,0.89) !important;
    color: white;
    top: 74px;
    z-index: 10;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.item-dedicated-nav .nav-item {
    margin: 0 17px 0 0;
}
.sticky-top {
    top: 165px;
}
.border-top-0 {
    border-top: 0!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.card-img-top{
    width: 250px;
    height: 150px;
}
.pined-item-picture{
    margin-top: -15rem;
}