<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web shop</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body  style="background-image: url(../../public/images/shop1.jpeg); background-size: cover; background-repeat: no-repeat">
<div class="login">
    <h2 class="active">Reset password </h2>
    <form>

        <input type="text" class="text" name="password">
        <span>Password</span><br><br>

        <input type="password" class="text" name="confirm_password">
        <span>Confirm password</span><br>

        <button class="loginBox" style="font-family: 'Segoe UI Semibold',serif">
            Reset password
        </button>
        <hr>
    </form>

</div>
</body></html>