<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Web shop</title>
    <link rel="icon" href="https://www.codester.com/static/uploads/items/000/018/18804/icon.png"/>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body  style="background-image: url(../../public/images/shop1.jpeg); background-size: cover; background-repeat: no-repeat">
<div class="login">
    <h2 class="active">Reset password </h2>
    <form>

        <input type="password" class="text" name="password">
        <span>Password</span><br><br>

        <input type="password" class="text" name="confirm_password">
        <span>Confirm password</span><br>

        <button class="loginBox" style="font-family: 'Segoe UI Semibold',serif" href="/login">
            Reset password
        </button>
        <hr>
    </form>

</div>
</body></html>